.contact-index {
    display:flex ;
    flex-direction: column;
align-items: center;
h1{
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
}
.link-add-contact{
    background-color: rgba(74, 74, 252, 0.464);
    padding: 10px;
    border-radius: 10px;
}
   
}